<?xml version="1.0" ?>
<config>
	<modules>
		<FlexShopper_Payment>
			<version>0.2.3</version>
		</FlexShopper_Payment>
	</modules>
	<global>
		<models>
			<flexpayment>
				<class>FlexShopper_Payment_Model</class>
			</flexpayment>
		</models>
        <resources>
            <flexpayment_setup>
                <setup>
                    <module>FlexShopper_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flexpayment_setup>
            <flexpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flexpayment_write>
            <flexpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flexpayment_read>
        </resources>
		<blocks>
			<flexpayment>
				<class>FlexShopper_Payment_Block</class>
			</flexpayment>
		</blocks>
		<helpers>
			<flexpayment>
				<class>FlexShopper_Payment_Helper</class>
			</flexpayment>
		</helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <flex_payment_taxes>
                        <type>Singleton</type>
                        <class>FlexShopper_Payment_Model_Observer</class>
                        <method>removeTaxes</method>
                    </flex_payment_taxes>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <flex_payment_refund>
                        <type>Singleton</type>
                        <class>FlexShopper_Payment_Model_Observer</class>
                        <method>refundOrder</method>
                    </flex_payment_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_model_service_quote_submit_before>
                <observers>
                    <flex_payment_limit>
                        <type>Singleton</type>
                        <class>FlexShopper_Payment_Model_Observer</class>
                        <method>checkLimit</method>
                    </flex_payment_limit>
                </observers>
            </sales_model_service_quote_submit_before>
            <order_cancel_after>
                <observers>
                    <flex_transaction_cancel>
                        <type>Singleton</type>
                        <class>FlexShopper_Payment_Model_Observer</class>
                        <method>cancelTransaction</method>
                    </flex_transaction_cancel>
                </observers>
            </order_cancel_after>
            <payment_method_is_active>
                <observers>
                    <flex_check_if_active>
                        <type>Singleton</type>
                        <class>FlexShopper_Payment_Model_Observer</class>
                        <method>isFlexshopperActive</method>
                    </flex_check_if_active>
                </observers>
            </payment_method_is_active>
        </events>
	</global>
    <default>
        <payment>
            <flexpayment>
                <active>0</active>
                <model>flexpayment/method</model>
                <order_status>pending</order_status>
                <title>FlexShopper</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <manufacturer_attributes>manufacturer</manufacturer_attributes>
            </flexpayment>
         </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <flexpayment>
                    <file>flexshopper/payment.xml</file>
                </flexpayment>
            </updates>
        </layout>
        <secure_url>
            <flexpayment>/flexshopper</flexpayment>
        </secure_url>
        <routers>
            <flexpayment>
                <use>standard</use>
                <args>
                    <module>FlexShopper_Payment</module>
                    <frontName>flexshopper</frontName>
                </args>
            </flexpayment>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <flexpayment>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>flexpayment/api::setTrackingNumbers</model>
                </run>
            </flexpayment>
        </jobs>
    </crontab>
</config>
